extends layout

block content
  - var time = format_unixtime(block.time)
  - var block_difficulty = parseFloat(block.difficulty).toFixed(4)

  .col-md-12
    .ObjectInfo
      .ObjectInfo__header
        strong.ObjectInfo__title
          span.ObjectInfo__titleLabel #{settings.symbol} block:&nbsp;
          | #{block.hash}
        form.ObjectInfo__search.hidden-xs(method='post', action='/search')
          label.ObjectInfo__searchIcon.glyphicon.glyphicon-search(for="object-search")
          input.ObjectInfo__searchInput.form-control(type='text', autocomplete='off', name='search', id="object-search", placeholder=settings.locale.object_search_placeholder)

      .ObjectInfo__details
        table.table.summary-table
          thead
            tr
              th #{settings.locale.height}
              th #{settings.locale.difficulty}
              th #{settings.locale.confirmations}
              if settings.heavy == true
                th Vote
              th.hidden-sm.hidden-xs #{settings.locale.size} (kB)
              th.hidden-sm.hidden-xs #{settings.locale.bits}
              th.hidden-sm.hidden-xs #{settings.locale.nonce}
              th.hidden-xs #{settings.locale.timestamp}
          tbody
            -
              var blockStatus = block.confirmations >= confirmations
                ? "success"
                : block.confirmations < (confirmations / 2)
                  ? "danger"
                  : "warning";
              var block_size = (block.size / 1024).toFixed(2)
              var splittedDate = time.split(" ");
              var date = splittedDate.slice(0, 3).join(" ");
              var time = splittedDate.slice(3).join(" ");
            tr(class=blockStatus)
              td #{block.height}
              td #{block_difficulty}
              td #{block.confirmations}
              if settings.heavy == true
                td  #{block.vote}
              td.hidden-sm.hidden-xs #{block_size}
              td.hidden-sm.hidden-xs #{block.bits}
              td.hidden-sm.hidden-xs #{block.nonce}
              td.hidden-xs.date
                span #{date}&nbsp;
                | #{time}

    if block.hash == settings.genesis_block
      .Genesis.alert.alert-info(role='alert', style='text-align:center;')
         strong #{settings.locale.block_genesis}
    else
      .Transactions
        .Transactions__header
          strong.Transactions__title #{settings.locale.ex_transactions}

        table#recent-table.table.table-striped.TxTable
          thead
            tr
              th.hidden-xs #{settings.locale.tx_hash}
              th #{settings.locale.tx_recipients}
              th #{settings.locale.mkt_amount} (#{settings.symbol})
              th
          tbody
            each txn in txs
              tr
                td.hidden-xs
                  a(href='/tx/' + txn.txid) #{txn.txid}
                td #{txn.vout.length}
                if txn.vout.length > 0
                  - var total = (txn.total / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
                  - var totalParts = total.split('.')
                  td #{totalParts[0]}.
                    span.decimal #{totalParts[1]}
                else
                  - var total = (txn.total).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
                  - var totalParts = total.split('.')
                  td #{totalParts[0]}.
                    span.decimal #{totalParts[1]}
                td.view_tx
                  a.Transactions__apiLink(href='/tx/' + txn.txid)
                    svg(width='20' height='14' viewbox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M10.0002 4.09094C8.49555 4.09094 7.27295 5.31354 7.27295 6.81823C7.27295 8.32293 8.49555 9.54553 10.0002 9.54553C11.505 9.54553 12.7275 8.32293 12.7275 6.81823C12.7275 5.31354 11.5045 4.09094 10.0002 4.09094Z' fill='#383B3D')
                      path(d='M10.0002 0C5.45458 0 1.57288 2.82744 0 6.81823C1.57288 10.809 5.45458 13.6365 10.0002 13.6365C14.5501 13.6365 18.4275 10.809 20.0004 6.81823C18.4275 2.82744 14.5501 0 10.0002 0ZM10.0002 11.3639C7.4911 11.3639 5.45458 9.32734 5.45458 6.81823C5.45458 4.30912 7.4911 2.2726 10.0002 2.2726C12.5093 2.2726 14.5454 4.30912 14.5454 6.81823C14.5454 9.32734 12.5093 11.3639 10.0002 11.3639Z' fill='#383B3D')
